/Guia11Ejercicio3/build/
/Guia11Ejercicio3/nbproject/private/
/Guia11EjercicioExtra2/Guia11EjercicioExtra2/build/
/Guia11EjercicioExtra2/Guia11EjercicioExtra2/nbproject/private/
/Guia12Ejercicio3/build/
/Guia12EjercicioExtra1/build/
/Guia12EjercicioExtra1/nbproject/private/
/Guia12Ejercicio4/nbproject/private/
/Guia12Ejercicio4/build/